data:
  image: tianon/true
  volumes:
    - ./data/postgres:/var/lib/postgresql/data
    - ./data/odoo/etc:/etc/odoo
    - ./data/odoo/files:/var/lib/odoo
    - ./addons:/mnt/extra-addons:ro
    - ./AwesomeFoodCoops:/mnt/AwesomeFoodCoops:ro

db:
  image: postgres:9.4
  environment:
    - POSTGRES_USER=odoo
    - POSTGRES_PASS=odoo
  volumes_from:
    - data

odoo:
  build: odoo
  links:
    - db:db
  environment:
    - VIRTUAL_HOST=espace-membres.lachouettecoop.test
    - VIRTUAL_PORT=8069
    - PGHOST=db
    - PGUSER=odoo
    - PGPASSWORD=odoo
    - URL_TAF=https://script.google.com/macros/s/xxxxxxx/exec?email=
  volumes_from:
    - data
